<div class="main-container">
  <div class="locations">
    <% @locations.each do |location| %>
    <%= location.name %>
    <img src="<%= location.photo %>" alt="card img">
    <%= location.address %>
    <%end %>
  </div>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
