<div class="container">
  <div class="location-description">
    <h2> <%= @location.name %></h2>
    <img src="<%= @location.photo %>" alt="card img">
    <p> <%= @location.address %></p>
    <p> <%= @location.latitude %></p>
    <p> <%= @location.longitude %></p>
  </div>
</div>
